<app-users-nav 
  [page]="page"
  (pageChange)="changePage($event)"
  ></app-users-nav>
<div [ngSwitch]="page">
    <app-users-list *ngSwitchCase="'list'"
      [list]="list" (itemSelect)="onUserSelect($event)">
    </app-users-list>
    <app-edit-user 
      *ngSwitchCase="'edit'"
      [userId]="currentUser.id"
      (close) = "onFormClose()"
      ></app-edit-user>
    <app-add-user 
      *ngSwitchCase="'add'"
      (close)="onFormClose()"></app-add-user>
    <div *ngSwitchDefault>Page not found</div>
</div>